@import 'normalize.css';
body {
  color: #333;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 64rem;
}
.popup-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 330px;
}
.site-wrapper {
  background-color: #ebebeb;
}
h3 {
  font-weight: 400;
  font-size: 1.66667rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}
code, pre {
  background-color: #e8e8e8;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}
code {
  margin-left: 0.13333em;
  margin-right: 0.13333em;
  padding: 0 0.4em;
  vertical-align: middle;
  zoom: 1;
}
pre code {
  background: none;
  border: none;
  color: inherit;
  margin: auto;
}
.header {
  position: relative;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 0;
  border-top: 3px solid #f68b1f;
  color: #333;
  height: auto;
  /*margin-bottom: 2.66667rem;*/
}
.modunit {
  background-color: #fff;
  padding: 0;
  border-radius: 2px;
  transition: all 0.35s ease;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.modunit>*+* {
  border-top: 1px solid #f5f5f5;
}
.mod-header {
  margin: 0;
  padding: 1.5rem;
  position: relative;
}
.mod-content {
  margin: 0;
  padding: 1.5rem;
}

.modunit-mini {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.modunit-mini .mod-header,
.modunit-mini .mod-content {
  padding: 0.5rem;
}
.modunit-mini h3 {
  font-size: 1.1rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}
#claireInfoImage {
  margin: auto;
  width: 250px;
}
.hidden {
  display: none;
}
